
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
         

  


<form class="login100-form" autocomplete="off" [formGroup]="miFormulario"  (ngSubmit)="login()">
                
    <span class="login100-form-title p-b-49">
        Login
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Usuario</span>
        <input class="input100"
               type="text" 
               formControlName="usuario"
               placeholder="Ingrese su Usuario">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
        <span class="label-input100">Palabra Clave</span>
        <input class="input100"
               type="text"
               formControlName="pclave"
               placeholder="Ingrese su palabra clave">
        <span class="focus-input100"></span>
    </div>
    
    <div class="text-right p-t-8 p-b-31"></div>
    
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" [disabled]="miFormulario.invalid" class="login100-form-btn">
                Login
            </button>
        </div>
    </div>

  
</form>

</div>
</div>
</div>
